.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.25rem;
    background: #1697dc;
}

.topbar a {
    color: #fff;
}

.header.header_sticky-active .topbar,
.header-mobile.header_sticky-active .topbar {
    display: none;
}

.topbar .tag-btn {
    position: relative;
    font-size: 16px;
    min-width: 10%;
    color: #fff;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.topbar .tag-btn:not(:last-child) {
    border-right: 1px solid #ffffff26;
}

.topbar .tag-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000;
    transition: all .6s;
}

.topbar .tag-btn.active::before,
.topbar .tag-btn:hover::before {
    background-color: #ffffff1d;
}

.header-fullwidth,
.full-width_padding {
    padding: 0;
}

.header .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;
}

.header-fullwidth .header-desk_type_1 {
    padding: 1em 1.25rem;
}

.header-mobile {
    height: auto;
}

.header-mobile .container {
    padding: var(--bs-gutter-x, 0.9375rem);
    max-width: 100%;
}

.header-mobile .topbar {
    justify-content: center;
}

.header.header_sticky-active .logo__image {
    max-height: 75px;
}

.header.header_sticky-active.header-fullwidth .header-desk_type_1 {
    padding: 0.75em;
}

.footer .logo img {
    object-fit: contain;
}

.policies h6 {
    display: inline-block;
    border-bottom: 0.5px solid #00000073;
}

.policies a {
    font-weight: 600;
}

.policies .menu-link_us-s {
    position: relative;
}

.policies .menu-link_us-s:after {
    top: auto;
    bottom: -2px;
}

@media (max-width: 992px) {

    .collections-grid_masonry .collection-grid__item,
    .offer-masonry .collection-grid__item {
        height: 17.8125rem !important;
    }
}

@media (max-width: 768px) {

    /* .home-page .slideshow {
        height: 28vh;
    } */

    .footer-column:last-child,
    .footer-store-info {
        text-align: center;
    }

    .footer .social-links {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .footer-bottom {
        text-align: center;
    }
}